* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
    width: 100%;
    /*background: #f7cac9;*/
    background-image: url("./img/fondo.jpg");
  }
 
  .logo a {
    color: black;
    font-size: 35px;
    font-weight: 500;
    text-decoration: none;
  }
  ion-icon {
    width: 30px;
    height: 30px;
    background-color: white;
    color: black;
  }
  ion-icon:hover {
    cursor: pointer;
  }
 
  header a ion-icon {
    position: relative;
    right: 3px;
  }
  

  
  .heading1 {
    opacity: 0;
  }

  .section2 .container {
    display: flex;
    width: 100%;
    height: max-content;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px auto;
    background-color: #f8edeb;
  }
  .section2 .container .items {
    margin: 10px;
    width: 300px;
    height: 400px;
    background-color: white;
    border: 2.5px solid #a2c8cc    ;
    border-radius: 12px;
   
  }
  .section2 .container .items .name {
    text-align: center;
    background-color: #c5e0dc;
    height: 25px;
    padding-top: 4px;
    color: black;
    margin: 0;
  }
  .section2 .container .items .price {
    float: left;
    padding-left: 10px;
    display: block;
    width: 100%;
    color: #ff8097;
    font-weight: 650;

  }
  .section2 .container .items .info {
    padding-left: 10px;
    color: black;
  }
  .section2 .container .items .img img {
    width: 300px;
    height: 200px;
    margin: 0;
    padding: 0;
    transition-duration: 0.8s;
  }
  .section2 .container .items .img {
    overflow: hidden;
    margin: 0;
  }
  .section2 .container .items:hover .img img {
    transform: scale(1.2);
    transition-duration: 0.8s;
    border-radius: 12px;
  }
  footer {
    display: flex;
    flex-direction: column;
    background-color: black;
    align-items: center;
    color: white;
  }
  
  .footer1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-top: 15px;
  }
  .social-media {
    display: flex;
    justify-content: center;
    color: white;
    flex-wrap: wrap;
  }
  .social-media a {
    color: white;
    margin: 20px;
    border-radius: 5px;
    margin-top: 10px;
    color: white;
  }
  .social-media a ion-icon {
    color: white;
    background-color: black;
  }
  .social-media a:hover ion-icon {
    color: red;
    transform: translateY(5px);
  }
  .footer2 {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    flex-wrap: wrap;
  }
  .footer0 {
    font-weight: 1200;
    transition-duration: 1s;
  }
  .footer0:hover {
    color: rgb(243, 168, 7);
  }
  .footer2 .heading {
    font-weight: 900;
    font-size: 18px;
  }
  .footer3 {
    margin-top: 60px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer2 .heading:hover {
    color: rgb(243, 168, 7);
  }
  .footer2 .div:hover {
    transform: scale(1.05);
  }
  .footer3 h4 {
    margin: 0 10px;
  }
  .footer2 div {
    margin: 10px;
  }
  .menu {
    visibility: hidden;
  }
  .heading1 .ham:active {
    color: red;
  }
  .items {
    overflow: hidden;
  }
  .ham,
  .close {
    cursor: pointer;
  }
  
  @media screen and (max-width: 1250px) {
 
    .items {
      transform: scale(0.9);
    }


    .section1 {
      width: 80%;
      overflow: hidden;
  
      justify-content: center;
      align-items: center;
      margin: 0px auto;
    }
  
    .heading1 {
      opacity: 1;
      position: relative;
      bottom: 8px;
    }

    header {
      height: 150px;
    }
  }
  @media screen and (max-width: 550px) {

    header {
      padding: 50px;
      height: 130px;
      display: flex;
      flex-direction: column;
    }
    .logo a {
        font-size: 30px;
    }

    .section2 .container .items {
        width: 80%;
    }
    .section2 .container .items .img img{
        width:100%;
    }
 
  }
  